version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: meu_postgres
    environment:
      POSTGRES_DB: meu_banco
      POSTGRES_USER: Guilherme
      POSTGRES_PASSWORD: SENHA#2026
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U Guilherme -d meu_banco"]
      interval: 5s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio
    container_name: meu_minio
    command: server /data --console-address ":9090"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    ports:
      - "9000:9000"
      - "9090:9090"
    volumes:
      - minio_data:/data

  minio-init:
    image: minio/mc
    container_name: minio_init
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
        sleep 10;
        mc alias set myminio http://minio:9000 admin admin123;
        mc mb -p myminio/fotos || echo 'Bucket fotos jรก existe';
      "

  api:
    build:
      context: ./ApiArtistas
      dockerfile: Dockerfile
    container_name: minha_api
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_started
    restart: unless-stopped

volumes:
  postgres_data:
  minio_data:
